.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.centered-block {
  margin: auto;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
}

.logo {
  background-image: url(../images/logo_place_header.svg);
}

.logo_place_header{
  width: 228px;
  height: 32px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 1;
}

.header__title {
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  color: #000000;
  display: inline-block;
  width: 730px;
  margin: 64px;
  z-index: 2;
}

.header__subtitle {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: #000000;
  position: absolute;
  display: inline-block;
  width: 388px;
  bottom: 30px;
  left: 64px;
  z-index: 3;
}

.link {
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 4;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
}



.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
